@import './styles/fonts.css';

@import "tailwindcss" source(none);
@source "./";


@layer base {
  h {
    font-weight: bold;
  }
  h1 {
    font-weight: bold;
    font-family: var(--font-anton);
    @apply text-[56px] lg:text-[120px] leading-[70px] lg:leading-[124px];
  }
  h2 {
    font-weight: bold;
    font-family: var(--font-anton);
    @apply text-[56px] lg:text-[120px] leading-[70px] lg:leading-[124px];
  }
  h3 {
    @apply text-4xl;
    font-weight: bold;
  }
  h4 {
    @apply text-3xl;
    font-weight: bold;
  }
  h5 {
    @apply text-2xl;
    font-weight: bold;
  }
  h6 {
    @apply text-xl;
    font-weight: bold;
  }
}

@theme {
  --color-primary: #ff9a00;
  --color-darkPurple: #311f40;
  --color-grey: #efefef;
  --color-mainGrey: #7b7b7b;
  --color-main: #010032;
  --color-primary-hover: #f59005;
  --shadow-base-shadow: 0px 8px 20px 0px rgba(148, 148, 148, 0.25);
  --font-anton: "Anton", sans-serif;
  --font-inter: "Inter", "sans-serif";
  --animate-wavey: wavey 1000ms linear infinite;

  @keyframes wavey {

    0%,
    100% {
      transform: scaleY(0.5);
    }

    50% {
      transform: scaleY(1.5);
    }
  }
}

@utility animation-delay-* {
  animation-delay: --value([ *]);
}

@layer components {
  .menu-item {
    @apply relative flex h-full items-center p-4 cursor-pointer font-bold text-pink-200 hover:text-zinc-200 hover:bg-white/10 transition-colors duration-500 ease-in-out;
  }

  .submenu-item {
    @apply p-4 font-bold hover:bg-white/5 hover:text-zinc-200 transition-colors ease-in-out cursor-pointer;
  }

  .container {
    @apply max-w-[1312px] px-4 md:px-6 mx-auto 2xl:px-0;
  }

  .carousel-item {
    @apply font-anton text-2xl leading-[100%] flex gap-4 md:gap-6 md:text-[44px] text-main items-center;
  }

  .service-card {
    @apply rounded-t-[64px] bg-white p-10 lg:p-12 flex flex-col items-center gap-5 justify-between;
  }

  .input {
    @apply bg-white box-border w-full rounded-[100px] focus:outline-none border-[1.5px] border-darkPurple placeholder-mainGrey text-base leading-6 py-[10px] px-13;
  }

  .order-input {
    @apply bg-white box-border w-full rounded-[100px] focus:outline-none border-darkPurple placeholder-mainGrey text-base leading-6 py-[12px] px-13;
  }
}

@custom-variant group-open {
  &:is(:where(.group):is(.open, [open], :popover-open, :open) *) {
    @slot;
  }
}

@custom-variant peer-open {
  &:is(:where(.peer):is(.open, [open], :popover-open, :open) ~ *) {
    @slot;
  }
}